/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    margin-top: 50px;
    height: 150px;
}

.navbar-header {
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #ccc;
    background-color: transparent;
    padding-top: 25px;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ccc;
    background-color: transparent;
    padding-top: 25px;
    font-weight: bold;
}

.navbar-inverse {
    background-color: transparent;
    border: none;
}

.fas {
    text-shadow: 2px 2px 2px #ccc;
}

.navbar {
    padding-bottom: 20px;
}

.banner {
    overflow: hidden;
    height: 100%;
    padding: 20%;
    background-image: url('../images/Moss.png');
    background-repeat: repeat;
    background-size: 40%;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    background-color: #32431d;
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4 {
    color: #e6e6e6;
}

hr {
    border-color: #32431d;
    width: 100%;
}

footer {
    position: relative;
    background-color: #3c5221;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    font-weight: 100;
}

p {
    color: #e6e6e6;
    font-size: 1.75rem;
}

.footer-small {
    font-size: 0.75rem;
    text-decoration: none;
    font-weight: 100;
}

.section-convallyria {
    position: relative;
    text-align: center;
}

.section-community {
    padding-bottom: 25px;
    display: flex;
    justify-content: center !important;
}

.section-river {
    overflow: hidden;
    width: 100%;
    padding: 20%;
    background-position: center;
    background-image: url('../images/river_base.gif');
    background-repeat: repeat-x;
    background-size: 40%;
}

a {
    text-decoration: underline;
    color: #ffffff;
}

.large-font {
    font-size: 6rem;
}

section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.cta {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.discord {
    margin: auto !important;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height:auto;} 
}